<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbX6GoMR6R3coOoiptZXgfZQqo4caJ8Xg</string>
	<key>GCM_SENDER_ID</key>
	<string>102199281876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>mobile-2d5e2</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-2d5e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102199281876:ios:0cdf0148ab3fa46dbc5341</string>
</dict>
</plist>